---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import IconSection from "../components/IconSection.astro";
---

<Layout title="Gralla">
  <main class="flex justify-center items-center flex-col">
    <section>
      <Hero />
    </section>
    <section>
      <IconSection />
    </section>

    <section class="py-28 w-[1024px] flex flex-col justify-center" id="record">
      <h1
        class="mb-4 text-2xl font-bold leading-none tracking-tight text-center text-[#fffffe] md:text-5xl lg:text-4xl"
      >
        Selecciona el tipo de <span
          class="underline underline-offset-3 decoration-8 decoration-[#ff8906]"
          >Grabación</span
        >
      </h1>
      <p
        class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400 text-center mb-10"
      >
        A continuación hay botones con las diferentes funcionalidades para
        grabar, selecciona todas las que quieras!
      </p>

      <ul class="grid w-full gap-6 md:grid-cols-3">
        <li>
          <input
            type="checkbox"
            id="screen-option"
            value=""
            class="hidden peer"
            required=""
          />
          <label
            for="screen-option"
            class="inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border-2 border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 peer-checked:border-[#ff8906] hover:text-gray-600 dark:peer-checked:text-gray-300 peer-checked:text-gray-600 hover:bg-gray-50 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700"
          >
            <div class="block">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-screen-share mb-2"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M21 12v3a1 1 0 0 1 -1 1h-16a1 1 0 0 1 -1 -1v-10a1 1 0 0 1 1 -1h9"
                ></path><path d="M7 20l10 0"></path><path d="M9 16l0 4"
                ></path><path d="M15 16l0 4"></path><path d="M17 4h4v4"
                ></path><path d="M16 9l5 -5"></path></svg
              >
              <div class="w-full text-lg font-semibold">Pantalla</div>
              <div class="w-full text-sm">
                Selecciona esta opción si quieres grabar tú pantalla.
              </div>
            </div>
          </label>
        </li>
        <li>
          <input type="checkbox" id="mic-option" value="" class="hidden peer" />
          <label
            for="mic-option"
            class="inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border-2 border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 peer-checked:border-[#ff8906] hover:text-gray-600 dark:peer-checked:text-gray-300 peer-checked:text-gray-600 hover:bg-gray-50 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700"
          >
            <div class="block">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-microphone mb-2"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M9 2m0 3a3 3 0 0 1 3 -3h0a3 3 0 0 1 3 3v5a3 3 0 0 1 -3 3h0a3 3 0 0 1 -3 -3z"
                ></path><path d="M5 10a7 7 0 0 0 14 0"></path><path
                  d="M8 21l8 0"></path><path d="M12 17l0 4"></path></svg
              >
              <div class="w-full text-lg font-semibold">Micrófono</div>
              <div class="w-full text-sm">
                Selecciona esta opción si quieres grabar el audio de tu
                micrófono.
              </div>
            </div>
          </label>
        </li>
        <li>
          <input
            type="checkbox"
            id="sound-option"
            value=""
            class="hidden peer"
          />
          <label
            for="sound-option"
            class="inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border-2 border-gray-200 rounded-lg cursor-pointer dark:hover:text-gray-300 dark:border-gray-700 peer-checked:border-[#ff8906] hover:text-gray-600 dark:peer-checked:text-gray-300 peer-checked:text-gray-600 hover:bg-gray-50 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700"
          >
            <div class="block">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon icon-tabler icon-tabler-volume mb-2"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
                ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                  d="M15 8a5 5 0 0 1 0 8"></path><path
                  d="M17.7 5a9 9 0 0 1 0 14"></path><path
                  d="M6 15h-2a1 1 0 0 1 -1 -1v-4a1 1 0 0 1 1 -1h2l3.5 -4.5a.8 .8 0 0 1 1.5 .5v14a.8 .8 0 0 1 -1.5 .5l-3.5 -4.5"
                ></path></svg
              >
              <div class="w-full text-lg font-semibold">Sonido</div>
              <div class="w-full text-sm">
                A TypeScript-based web application framework.
              </div>
            </div>
          </label>
        </li>
      </ul>
      <div class="mt-8 gap-3 flex justify-center">
        <button
          class="inline-flex justify-center items-center gap-x-3 text-center bg-gradient-to-tl from-[#ff8906] to-[#f25f4c] hover:scale-105 transition-transform border border-transparent text-white text-sm font-medium rounded-md focus:outline-none focus:ring-1 focus:ring-gray-600 py-3 px-4 dark:focus:ring-offset-gray-800"
          id="recorder"
        >
          Comenzar Grabación
          <svg
            class="flex-shrink-0 w-4 h-4"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
          >
            <path
              d="M5.27921 2L10.9257 7.64645C11.1209 7.84171 11.1209 8.15829 10.9257 8.35355L5.27921 14"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"></path>
          </svg>
        </button>
      </div>
    </section>
  </main>
  <script>
    window.onload = () => {
      const screen = document.getElementById(
        "screen-option"
      ) as HTMLInputElement;
      const mic = document.getElementById("mic-option") as HTMLInputElement;
      const $button = document.getElementById("recorder")!;

      $button.addEventListener("click", async () => {
        if (screen.checked) {
          const media = await navigator.mediaDevices.getDisplayMedia({
            video: { frameRate: { ideal: 60 } },
          });
          const mediarecorder = new MediaRecorder(media, {
            mimeType: "video/webm;codecs=vp8,opus",
          });
          mediarecorder.start();

          const [video] = media.getVideoTracks();
          video.addEventListener("ended", () => {
            mediarecorder.stop();
          });

          mediarecorder.addEventListener("dataavailable", (e) => {
            const link = document.createElement("a");
            link.href = URL.createObjectURL(e.data);
            link.download = "captura.mp4";
            link.click();
          });
        } else {
          console.log("no");
        }
        if (mic.checked) {
        }
      });
    };
  </script>
</Layout>
