<div class="mx-auto">
  <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 pt-24 pb-10">
    <!-- Announcement Banner -->

    <!-- End Announcement Banner -->

    <!-- Title -->
    <div class="mt-5 max-w-2xl text-center mx-auto">
      <h1
        class="block font-bold text-gray-800 text-4xl md:text-5xl lg:text-6xl dark:text-gray-200"
      >
        La mejor manera de grabar tú
        <span
          class="bg-clip-text bg-gradient-to-tl from-[#ff8906] to-[#f25f4c] text-transparent"
          >Pantalla</span
        >
      </h1>
    </div>
    <!-- End Title -->

    <div class="mt-5 max-w-3xl text-center mx-auto">
      <p class="text-lg text[#a7a9be] dark:text-gray-400">
        Tus ideas cobran vida en un solo lugar. Graba audio, video y pantalla
        con facilidad para darle forma a tus creaciones. Todo lo que necesitas
        en una sola plataforma.
      </p>
    </div>

    <!-- Buttons -->
    <div class="mt-8 gap-3 flex justify-center">
      <a
        class="inline-flex justify-center items-center gap-x-3 text-center bg-gradient-to-tl from-[#ff8906] to-[#f25f4c] hover:scale-105 transition-transform border border-transparent text-white text-sm font-medium rounded-md focus:outline-none focus:ring-1 focus:ring-gray-600 py-3 px-4 dark:focus:ring-offset-gray-800"
        href="#record"
      >
        Comenzar
        <svg
          class="flex-shrink-0 w-4 h-4"
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="none"
        >
          <path
            d="M5.27921 2L10.9257 7.64645C11.1209 7.84171 11.1209 8.15829 10.9257 8.35355L5.27921 14"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"></path>
        </svg>
      </a>
    </div>
    <!-- End Buttons -->
  </div>
</div>
