<div class="mx-auto">
  <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 pt-24 pb-10">
    <!-- Announcement Banner -->

    <!-- End Announcement Banner -->

    <!-- Title -->
    <div class="mt-5 max-w-2xl text-center mx-auto">
      <h1
        class="block font-bold text-[#fffffe] text-4xl md:text-5xl lg:text-6xl"
      >
        La mejor manera de grabar tú
        <span
          class="bg-clip-text bg-gradient-to-tl from-[#ff8906] to-[#f25f4c] text-transparent"
          >Pantalla</span
        >
      </h1>
    </div>
    <!-- End Title -->

    <div class="mt-5 max-w-3xl text-center mx-auto">
      <p class="text-lg text[#a7a9be] dark:text-gray-400">
        Tus ideas cobran vida en un solo lugar. Graba el audio y la pantalla con
        facilidad para darle forma a tus creaciones. Todo lo que necesitas en
        una sola plataforma.
      </p>
    </div>
  </div>
</div>
